
:root{
    --navbar-background: #63024c83;
    --primary-color-1: #ed86d7;
    --primary-color-2: rgb(1, 159, 182);
    --text-shadow: rgb(182, 1, 176);
    --gradient-shade-1: #019fb6;
    --gradient-shade-2: #be24c3;
    --secondary-color-1: #63024c;
    --secondary-color-2: #000000;
    --project-color-1: #63024c5d;
    --project-color-2: #3202635d;
    --project-shadow: rgba(182, 1, 176, 0.548);
    --sequencer-color: rgb(40, 1, 182);
}
