@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');


:root {
  --primary-color: #3A5A40;
  --secondary-color: #FAF3E0;
  --accent-color: #222;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unica One', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 96vh;
  padding: 0 50px;  
  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  align-items: center;
  
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links a {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 1.2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--primary-color);
}

.hero h1 {
  color: var(--accent-color);
  font-size: 10rem;
  font-weight: bold;
}

.footer-divs {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  gap: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-color);
  background-color: var(--primary-color);
}

.footer-div a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--accent-color);
}

.project-tab {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--accent-color);
  padding-top: 50px;
  height: 150vh;
}

.project-tab h2 {
  padding: 0 50px;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.project-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}